<form class="form-signin" action="{{action}}" method="{{method}}">
	<h2 class="form-signin-heading">Please confirm</h2>
	<input name="key" type="text" class="input-block-level" placeholder="Key" value="{{key}}">
	<button class="btn btn-large btn-primary" type="submit">Confirm</button>
</form>